---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
    I am a PhD student at Stanford University's Computer Science Department, advised by <a href=https://cs.stanford.edu/~diyiy/ target="_blank">Diyi Yang</a> and <a href=https://www.dorademszky.com/ target="_blank">Dora Demszky</a>. I also collaborate closely with <a href=https://ed.stanford.edu/faculty/sloeb target="_blank">Susanna Loeb</a>.
    I develop <b>machine learning</b> (ML) and <b>natural language processing</b> (NLP) methods for real-world domains, with a focus on <b>Education</b> as a critical domain with profound societal impact. I tackle challenges that arise in <b>human-human</b> and <b>human-AI interactions</b>. 
</p>
<p>
    <b>I'm on the academic and industry job market 2024-25.</b> If you think I could be a good fit for your organization, please reach out!
</p>
  <p>
    <b>My work introduces algorithms, benchmarks and large-scale interventions for <i>scaling expertise</i>, i.e., building language models that capture expert reasoning.</b> 
    My research is deployed in industry and directly improves the education of under-served students through partnerships I've cultivated during my Ph.D. at Stanford, including Title I school districts and several education companies, impacting 200,000+ students, 1,700+ teachers, 16,100+ tutors, in millions of tutoring sessions across the U.S., UK and India.
    My work is recognized by a Best Paper Award at CogSci, Best Paper Award at  NeurIPS Cooperative AI, Best Paper Award at BEA, ICLR Oral, NSF Graduate Research Fellowship, Rising Star in Data Science, and Tools Competition Award.
  </p>
  <p>
    I did my undergrad at MIT (2020) with Profs. Josh Tenenbaum, Jonathan How, Google Brain and Google Brain Robotics on multiagent systems & reinforcement learning. 
    During my PhD, I interned at the Allen Institute for AI (AI2).
    Growing up, I was raised in Finland and Germany, was a passionate multilinguist in German (Abitur), Chinese (HSK Level 6), French (DELF B2), Spanish (DELE B2) and received the European plurilingual excellence award.
  </p>
</div>
<div class="docs-section" id="news">
  <h4>Recent News</h4>
  {% assign current_talks = site.data.news.news | where: "category", "current" %}
  {% for talk in current_talks %}
    <b>{{ talk.time }}</b>: {{ talk.events }}</a> </br>
  {% endfor %}
</div>


<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Please find all publications on my <a href="https://scholar.google.com/citations?user=V-dlwF4AAAAJ&hl=en" target="_blank">Google Scholar</a>.  </p>
  <p>* denotes equal contributions.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-sel">Selected and Recent Papers</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>    
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="papers-sel">
      {% assign papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.pap %}
              <a class="button" href="{{ paper.pap }}" target="_blank">Preregistration</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          <p><i>{{ paper.extra_venue }}</i></p>
          {% if paper.award %}
            <p><b style="color:#4682b4">{{ paper.award }}</b></p>
          {% endif %}
          {% if paper.news %}
            <p><b style="color:#b11cd6">{{ paper.news }}</b></p>
          {% endif %}
           <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    <!-- All PAPERS -->
    <div class="tab-pane" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.pap %}
              <a class="button" href="{{ paper.pap }}" target="_blank">Preregistration</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
          <p><i>{{ paper.extra_venue }}</i></p>
          {% if paper.award %}
          <p><b style="color:#4682b4">{{ paper.award }}</b></p>
          {% endif %}
          {% if paper.news %}
            <p><b style="color:#af64f0">{{ paper.news }}</b></p>
          {% endif %}
          <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    
<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>
  </p>

</div>
